@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* css reset */


.html {
    scroll-behavior: smooth;
}

.topnav {
    background-color: #0000008b;
    overflow: hidden;
}

.topnav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    color: rgb(198, 123, 25);
}

.container {
    position: absolute;
    margin: 0%;
    width: 100vw;
    height: 60px;
}

.image-container {
    width: 100vw;
    overflow:hidden;
}

.text-overlay-h1 {
    position:absolute;
    top: 84%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 40px;
    line-height: 85px;
    font-family: "Cormorant Garamond", Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: normal;
}

.text-overlay-h2 {
    font-family: "Cormorant Garamond", Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-style: normal;
    position: absolute;
    top: 100%;
    left: 15.5%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 24px;
}

.colour-block-intro {
    background-color: #ffffff;
    padding-top: 80px;
    padding-bottom: 80px;
}

.colour-block-about-author {
    background-color: rgba(36, 22, 22, 1);
    padding-top: 80px;
    padding-bottom: 80px;
}

.intro {
    color: black;
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-weight: 50;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
}

.B {
    float:left;
    font-size: 2em;
    font-weight: 200;
    line-height: 50%;
    color:  rgba(250, 183, 87, 1);
}

.I {
    float:left;
    font-size: 2em;
    font-weight: 200;
    line-height: 50%;
    color:  rgba(36, 22, 22, 1);
}

.O {
    float:left;
    font-size: 2em;
    font-weight: 200;
    line-height: 50%;
    color:  rgba(250, 183, 87, 1);
}

.M {
    float:left;
    font-size: 2em;
    font-weight: 200;
    line-height: 50%;
    color:  rgba(36, 22, 22, 1);
}

.A {
    float:left;
    font-size: 2em;
    font-weight: 200;
    line-height: 50%;
    color:  rgba(250, 183, 87, 1);
}

.flex-container-dolls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-author {
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-size: 40px;
    color: rgba(250, 183, 87, 1);
    margin-left: 300px;
    margin-bottom: 120px;
    margin-top: 40px;
}

.born {
    color: rgba(250, 183, 87, 1);
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-weight: 50;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-right: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.august {
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-size: 40px;
    color: rgba(36, 22, 22, 1);
    margin-left: 300px;
    margin-bottom: 40px;
    margin-top: 80px;
}

.colour-block-august {
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 100px;
}

.july, .market-square, .ragamuffins {
    color:black;
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-weight: 50;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.luminous {
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-size: 40px;
    color: rgba(250, 183, 87, 1);
    margin-left: 300px;
    margin-bottom: 40px;
    margin-top: 80px;
}

.colour-block-luminous {
    background-color: rgba(36, 22, 22, 1);
    padding-top: 40px;
    padding-bottom: 100px;
}

.colour-block-filler {
    background-color: rgba(36, 22, 22, 1);
    padding-top: 40px;
    padding-bottom: 40px;
}

.on-those, .the-dark, .after {
    color: rgba(250, 183, 87, 1);
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-weight: 50;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.woman-sculpture-image {
    padding-bottom: 80px;
}

.saturday {
    color: rgba(250, 183, 87, 1);
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
    font-weight: 50;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 4%;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 220px;
    margin-bottom: 180px;
    margin-top: 180px;
}

.thus {
    color: rgba(101, 61, 0, 1);
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
    font-weight: 50;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 4%;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 220px;
    margin-bottom: 60px;
    margin-top: 80px;
}

.saturday-quote-line, .market-quote-line {
    border-left: 6px solid rgba(101, 61, 0, 1);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.market-quote-line {
    border-left: 6px solid rgba(101, 61, 0, 1);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.market-image {
    padding-top: 30px;
    padding-bottom: 30px;
}

.flex-container-window {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.flex-container-sculpture {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.colour-block-market {
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 100px;
}

.market {
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-size: 40px;
    color: rgba(36, 22, 22, 1);
    margin-left: 300px;
    margin-bottom: 40px;
    margin-top: 80px;
}

.colour-block-street {
    background-color: rgba(36, 22, 22, 1);
    padding-top: 40px;
    padding-bottom: 40px;
}

.street {
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-size: 40px;
    color: rgba(250, 183, 87, 1);
    margin-left: 300px;
    margin-bottom: 40px;
    margin-top: 80px;
}

.and, .suburban, .fictions {
    color: rgba(250, 183, 87, 1);
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-weight: 50;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.colour-block-further {
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.colour-block-credits {
    background-color: rgba(36, 22, 22, 1);
    padding-top: 40px;
    padding-bottom: 10px;
}

.credits {
    color: rgba(250, 183, 87, 1);
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-weight: 50;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 0px;
    margin-top: 50px;
}

.image-credits {
    color: rgba(250, 183, 87, 1);
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-weight: 50;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    margin-top: 5px;
}

.gutenberg {
    color: rgba(250, 183, 87, 1);
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-weight: 50;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 70px;
}

.link {
    color: rgba(250, 183, 87, 1);
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-weight: 50;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.further-reading {
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-size: 40px;
    color: rgba(36, 22, 22, 1);
    margin-left: 300px;
    margin-bottom: 40px;
    margin-top: 80px;

}

.further-links {
    font-style:normal;
    font-weight: 50;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color:blueviolet;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: orangered;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

a.about-link, a.luminous-link, a.market-link, a.street-link, a.contact-link {
    color: #ffffff;
    text-decoration: none;
}

.about-link, .luminous-link, .market-link, .street-link, .contact-link a:hover {
    color: rgb(198, 123, 25);
}

.mail {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
}

.instagram {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
}

.twitter {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
}

.row {
    display: flex;
    justify-content: center;
    flex: 33.33%;
    padding-top: 100px;
}

#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: rgba(101, 61, 0, 1); 
    color: white; 
    cursor: pointer; 
    padding: 16px; 
    border-radius: 10px; 
    font-size: 21px; 
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 8%;
  }

#myBtn:hover {
    background-color: rgb(49, 49, 49);
}

.clay-figures-group-image {
    max-width: 920px;
}

.woman-sculpture-image {
    max-width: 920px;
}


/* Small devices (portrait tablets and large phones, 425px and down) */
@media only screen and (max-width: 425px) {
    .text-overlay-h1 {
        margin-top: 0px !important;
        margin-bottom: 80px;
        margin-left: 70px;
        margin-right: 0px !important;
    }
    
    .text-overlay-h2 {
        margin-top: 5px !important;
        margin-left: 50px !important;
    }
}

/* Small devices (portrait tablets and large phones, 655px and down) */
@media only screen and (max-width: 655px) {
    .text-overlay-h1 {
        font-size: 20px !important;
        line-height: 28px !important;
        color: black !important;
        margin-top: 85px;
        margin-bottom: 80px;
        margin-left: 70px;
    }
    
    .text-overlay-h2 {
        font-size: 16px !important;
        color: black !important;
        margin-top: 85px;
        margin-bottom: 80px;
        margin-left: 70px;
    }

    .intro {
        margin-top: 140px;
        font-size: 16px !important;
        line-height: 18px !important;
    }

    .intro, .born, .july, .on-those, .the-dark, .after, .saturday, .market-square, .ragamuffins, .thus, .and, .suburban, .fictions, .further-links {
        font-size: 10px !important;
        line-height: 18px !important;
        margin-left: 60px;
        margin-right: 40px;
    }

    .about-author, .august, .luminous, .market, .street, .further-reading {
        font-size: 20px !important;
    }

    .saturday, .thus {
        margin-left: 10px !important;
        margin-right: 20px !important;
    }

    #myBtn { 
        padding: 12px; 
        font-size: 12px; 
    }

    .credits {
        font-size: 16px;
        line-height: 20px;
        display: flex;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .image-credits {
        font-size: 16px;
        line-height: 20px;
        display: flex;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .gutenberg {
        font-size: 16px;
        line-height: 20px;
        display: flex;
        justify-content: center;
    }
    
    .link {
        font-size: 16px;
        line-height: 20px;
        display: flex;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    .text-overlay-h1 {
        top: 45% !important;
        left: 25% !important;
        font-size: 16px !important;
        line-height: 28px !important;
    }
    
    .text-overlay-h2 {
        top: 53% !important;
        left: 18% !important;
        font-size: 10px !important;
    }

    .clay-figures-group-image {
        max-width: 400px;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .woman-sculpture-image {
        max-width: 400px;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .born {
        font-size: 18px;
        line-height: 28px;
        margin-right: 0px;
    }

    .about-author, .august {
        margin-right: 40px;
    }

    .intro, .july, .on-those, .the-dark, .after, .saturday, .market-square, .ragamuffins, .thus, .and, .suburban, .fictions, .further-links {
        font-size: 18px;
        line-height: 28px;
        margin-left: 60px;
        margin-right: 40px;
    }

    .topnav a{
        padding: 16px 16px !important;
        font-size: 8px !important;
    }

    .saturday-quote-line, .market-quote-line {
        margin-left: 60px !important;
    }
}

/* Large devices (laptops/desktops, 1024px and down) */
@media only screen and (max-width: 1024px) {
    .text-overlay-h1 {
        top: 65%;
        left: 29%;
        font-size: 26px;
        line-height: 50px;
    }
    
    .text-overlay-h2 {
        top: 60%;
        left: 22%;
        font-size: 16px;
    }

    .topnav a{
        padding: 20px 20px;
        font-size: 16px !important;
    }

    .about-author, .intro, .august, .july, .luminous, .on-those, .the-dark, .after, .market, .market-square, .ragamuffins, .street, .and, .suburban, .fictions, .further-reading, .further-links {
        margin-left: 100px !important;
        margin-right: 100px !important;
    }

    .about-author, .august, .luminous, .market, .street, .further-reading {
        font-size: 30px;
    }

    .saturday-quote-line, .market-quote-line {
        margin-left: 50px;
    }
}

/* Extra large devices (large laptops and desktops, 1440px and down) */
@media only screen and (max-width: 1440px) {
    .text-overlay-h1 {
        top: 66%;
        left: 27%;
    }
    
    .text-overlay-h2 {
        top: 78%;
        left: 17%;
    }

    .topnav a {
        padding: 36px 36px;
        font-size: 26px;
    }

    .about-author, .intro, .august, .july, .luminous, .on-those, .the-dark, .after, .market, .market-square, .ragamuffins, .street, .and, .suburban, .fictions, .further-reading, .further-links {
        margin-left: 255px;
        margin-right: 255px;
    }

    .born {
        margin-left: 0px;
        margin-right: 0px;
    }

    .saturday, .thus {
        margin-left: 50px;
        margin-right: 180px;
    }

    .clay-figures-group-image {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .woman-sculpture-image {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
}

/* 4K devices (2560px and up) */
@media only screen and (min-width: 2560px) {
    .text-overlay-h1 {
        font-size: 70px;
        line-height: 130px;
        top: 66%;
        left: 24%;
    }

    .text-overlay-h2 {
        top: 80%;
        left: 13.5%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        font-size: 40px;
    }

    .topnav a{
        padding: 50px 50px;
        font-size: 40px;
    }

    #myBtn { 
        padding: 25px; 
        font-size: 32px; 
      }

    .intro, .born, .july, .on-those, .the-dark, .after, .saturday, .market-square, .ragamuffins, .thus, .and, .suburban, .fictions, .further-links {
        font-size: 32px;
        line-height: 40px;
    }

    .about-author, .august, .luminous, .market, .street, .further-reading {
        font-size: 60px;
    }

    .credits, .image-credits, .gutenberg, .link {
        font-size: 40px;
        line-height: 50px;
    }
}