/* css reset */

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

.header {
    padding: 60px;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.648);
    color: #ffffff;
    font-size: 30px;
}
